<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body class="bodyHomepage">
    <div class="containerHomepage">
        <h1 class="titleHomePage">Welcome to Discord Bot</h1>
        <button class="buttonHomePage">  Send a Message  </button>
        <button class="buttonHomePage">Schedule a new message</button>
        <button class="buttonHomePage">  View existing tasks  </button>
    </div>
</body>
</html>