<body class="addTaskBody">
  
<h1 class="addTaskTitle">{{title}}</h1>

<!-- Form to add a new Task to the database -->

<form class="addTaskForm" action="/tasks/add" method="POST">

  <select name="interval"> 
      <option value="5">5 minutes</option>
      <option value="10">10 minutes</option>
      <option value="30">30 minutes</option>
      <option value="60">60 minutes</option>
  </select>

  <input type="text" name="description" placeholder="Description">
  <input type="text" name="message" placeholder="Message">
  <input type="text" name="name" placeholder="Name">
  <button class="buttonAddPage" type="submit">Add Task</button>
  
</form>
</body>
