<h1>{{title}}</h1>

<form action="/tasks/edit" method="POST">
  <input type="text" name="name" placeholder="{{task.name}}">
  <input type="text" name="description" placeholder="{{task.description}}">
  <input type="text" name="message" placeholder="{{task.message}}">
<select id="intervalDropdown" name="interval"> <!-- Add more intervals later. Text can be whatever we would like (eg. 3 hours) but value must be expressed in minutes (eg. 180) -->
    <option value="5">5 minutes</option>
    <option value="10">10 minutes</option>
    <option value="30">30 minutes</option>
    <option value="60">60 minutes</option>
</select>
<button type="submit">Add Task</button>